black==21.7b0
flake8==3.9.2
pytest==6.2.4
coverage==5.5
nbsphinx==0.8.6
Sphinx==4.1.2
sphinx-autodoc-typehints==1.12.0
sphinx-rtd-theme==0.5.2
pre-commit==2.14.0
seaborn==0.11.1
numpy==1.21.1
tqdm==4.62.0
torch==1.9.0
torchvision==0.10.0
scikit-learn==0.24.2
albumentations==1.0.3
torchinfo==1.5.3
tensorboard==2.6.0
ipython
jupytext
jupyter
